
    <!doctype html>
<html>
  <head>
      <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Sourangshu Ghosh Homepage</title>

    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-78443229-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-78443229-1');
    </script>

</head>
  <body>
    {{ content }}
  </body>
</html>
